{{!-- recipes page --}}

{{!-- Recipe page image will only show up if there is an associated image --}}
<div class="post-window">
     <div class="post-card">
        <div>
            <div class="card-header">
                <h3 id="post-name">{{name}}</h3>
                <p id="post-user">Created by <a href="/users/{{user.id}}">{{user.name}}</a></p>
            </div>

            <p>
                {{description}}
            </p>
        </div>
    </div>
</div>