/* Main Style Sheet */

/* universal styling */
* {
    width: auto;
    height: fit-content;
}

/* root styling */

:root {
    --kyogre: #194E8A;
    --deepsea: #4b8eda;
    --miku: #4ECDC4;
    --latte: #d6c898;
    --espresso: #685927;
    --latias: #FF6B6B;
    --black: #000000;
    --smoke: #807f7f80;
    --deepsmoke: #807f7fbb;
    --lugia: #dddddd;
    --jade: #640377;
    --text: #ec98e1;
    --emerald: #19bb98;
}

body {
    background: linear-gradient(var(--kyogre) 0, var(--kyogre) 20%, var(--emerald) 60%, var(--jade) 90%);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Chivo', sans-serif;
}

.bold-font {
    font-weight: bold;
}

/* All nav bar styles */
nav {
    display: flex;
    background-color: var(--black);
    color: var(--miku);
    height: 50px;
    padding: 0;
    border-radius: 0 0 30px 30px;
    justify-content: space-between;
    font-family: 'Chivo', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}


.nav-list {
    display: flex;
}

.nav-list a {
    color: var(--miku);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    padding: 13px;
    border-radius: 8px;
}

.techblog{
    margin: -60px auto 0;
    text-align: center;
    color: var(--miku);
    font-family: 'Roboto', sans-serif;
}

.nav-list a:hover {
    color: var(--kyogre);
    background-color: var(--miku);
}

#home-btn-in {
    border-radius: 0 0 0 30px;
    ;
}

#home-btn-out {
    border-radius: 0 8px 8px 30px;
    ;
}

#profile-in {
    border-radius: 0 8px 8px 0;
}

.login a,
.logout a {
    border-radius: 8px 0 30px 8px;
    ;
}

#logout {
    cursor: pointer;
}


/* main container where our body goes */
.main-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* login/signup styles */

.login-box {
    background-color: var(--smoke);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: block;
}

#login-link,
#signup-link{
    color: var(--latias);
}

.login-window,
.signup-window {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}


form .form-group {
    display: flex;
    flex-direction: column;
    margin: 0.625rem auto;
    padding: 0;
}

form .login-form,
form .signup-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form input,
form select,
div input,
div select {
    text-align: center;
    margin: 0.625rem 0 0.25rem 0.3rem;
    min-width: 1%;
    max-width: 80%;
    width: 80%;
}

form textarea,
div textarea {
    margin: 0.625rem 0 0.25rem 0.3rem;
}

form label,
form .form-label,
div label {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.625rem 0 0.25rem 0.3rem;
}

form .form-input {
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
    min-width: none;
    max-width: 100%;
    width: 92%;
}


form .form-input.form-input-squared {
    border-radius: 0;
}

/* universal button style */
.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto';
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: var(--lugia);
    background-color: var(--deepsea);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
}

.createpostbtn{
    font-size: 1.5rem;
    border: solid var(--black) 2px;
}

.btn:hover {
    background-color: var(--miku);
    color: var(--kyogre);
}


/* post styles */

.post-window,
.dashboard-window {
    width: 80%;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
}

.dashboard-window{
    text-align: center;
}

.post-Creator,
.comment-Creator {
    background: var(--lugia);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: 10px auto;
    padding-bottom: 10px;
    width: 75%;
}

.post-Creator div,
.comment-Creator div {
    justify-content: center;
}

.create1,
.create2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 100%;
}

.create3,
.create4 {
    display: block;
    width: 100%;
}

#upload_widget,
#shareRecipeBtn {
    display: block;
    margin: 1rem auto;
}

#post-name {
    margin-left: 10px;
}

#post-user {
    margin-right: 10px;
}

#comment-user{
    margin-left: 10px
}

.comments{
    text-align: center;
}

/* .post-descrip {
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background: linear-gradient(var(--lugia) 0, var(--deepsmoke));
    margin: 10px auto;
    padding-bottom: 10px;
    width: 40%;
} */

.card-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--deepsea);
    border-radius: 7px 7px 0 0;
}

#post-text{
    margin: 5px 15px 0;
}

#comment-text{
    margin: 15px;
}

.post-card {
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background: var(--smoke);
    margin: 10px;
    padding-bottom: 10px;
}

.comment-card{
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background: var(--smoke);
    margin: 10px;
    padding-bottom: 10px;
}

#postDescription,
#instructions {
    min-width: 1%;
    max-width: 80%;
    width: 80%;
    min-height: 6rem;
}

#postComment{
    min-width: 1%;
    max-width: 80%;
    width: 80%;
}

.post-card a {
    text-decoration: none;
    color: var(--text);
}

/* Profile Styles */

.profile-window {
    /* display: block; */
    text-align: center;
    justify-content: center;
}

.userHeader,
#post-start {
    text-align: center;
}

.hidden{
    display: none;
}